<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="style.css">
     <script src="discipline_show_test.js"defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entity Record</title>
</head>
<body>

    <div class="container">
        <h2>Discipline Details</h2>
        <ul id="discipline_deteils">
            <li><strong>ID:</strong> <span id="discipline-id" th:text="${discipline.id}"></span></li>
            <li><strong>Faculty Name:</strong> <span id="discipline-faculty_name" th:text="${discipline.faculty_name}"></span></li> 
            <li><strong>Group Number:</strong> <span id="discipline-group_number" th:text="${discipline.group_number}"></span></li>
            <li><strong>Faculty Number:</strong> <span id="discipline-faculty_namber" th:text="${discipline.faculty_namber}"></span></li>
            <li><strong>Grade in Discipline:</strong> <span id="discipline-grade_in_dicipline" th:text="${discipline.grade_in_dicipline}"></span></li>
            <li><strong>Course:</strong> <span id="discipline-course" th:text="${discipline.course}"></span></li>
        </ul>
    </div>
</body>
</html>
