<html lang="uk">
<head>
     <link rel="stylesheet" href="/css/style.css">
     <script src="/js/students_form_test.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма заповнення даних</title>
</head>
<body>
    <h1>Welcome!</h1>
    <h2>Please fill out the form below:</h2>
    <h1>Форма заповнення даних</h1>

    <div class="container">
        <form action="#" method="post">
            <label for="faculty_name">Факультет:</label>
            <input type="text" id="faculty_name" name="faculty_name" required>

            <label for="Lgroup">Група:</label>
            <input type="number" id="Lgroup" name="Lgroup" required>

            <label for="faculty_number">Номер факультету:</label>
            <input type="number" id="faculty_number" name="faculty_number" required>

            <label for="grade_in_discipline1">Оцінка за дисципліну 1:</label>
            <input type="number" step="0.1" id="grade_in_discipline1" name="grade_in_discipline1" required>

            <label for="grade_in_discipline2">Оцінка за дисципліну 2:</label>
            <input type="number" step="0.1" id="grade_in_discipline2" name="grade_in_discipline2" required>

            <label for="grade_in_discipline3">Оцінка за дисципліну 3:</label>
            <input type="number" step="0.1" id="grade_in_discipline3" name="grade_in_discipline3" required>

            <label for="Course">Курс:</label>
            <input type="number" id="Course" name="Course" required>

            <label for="gradebook_number">Номер залікової книжки:</label>
            <input type="number" id="gradebook_number" name="gradebook_number" required>

            <label for="first_name">Ім'я:</label>
            <input type="text" id="first_name" name="first_name" required>

            <label for="last_name">Прізвище:</label>
            <input type="text" id="last_name" name="last_name" required>

            <label for="middle_name">По батькові:</label>
            <input type="text" id="middle_name" name="middle_name" required>

            <button type="submit">Відправити</button>
        </form>
    </div>

</body>
</html>
