<html lang="uk">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
     <script src="/js/students_index_test.js"defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
</head>
<body>
    <div class="container">
        <h1>Student Discipline Information</h1>
        <p>This table contains information about students, their faculty, grades, and course details.</p>
        <table>
            <tr>
                <th>ID</th>
                <th>Faculty Name</th>
                <th>Group</th>
                <th>Faculty Number</th>
                <th>Grade 1</th>
                <th>Grade 2</th>
                <th>Grade 3</th>
                <th>Course</th>
                <th>Gradebook Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Middle Name</th>
            </tr>
            <tr>
                <tbody id="table-body">
                    <tr th:each="student : ${studentsList}">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.faculty_name}"></td>
                    <td th:text="${student.Lgroup}"></td>
                    <td th:text="${student.faculty_Number}"></td>
                    <td th:text="${student.grade_in_discipline_1}"></td>
                    <td th:text="${student.grade_in_discipline_2}"></td>
                    <td th:text="${student.grade_in_discipline_3}"></td>
                    <td th:text="${student.course}"></td>
                    <td th:text="${student.gradebook_number}"></td>
                    <td th:text="${student.first_name}"></td>
                    <td th:text="${student.last_name}"></td>
                    <td th:text="${student.middle_name}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
