<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
     <link rel="stylesheet" href="/css/style.css">
     <script src="/js/students_show_test.js"defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Record</title>
</head>
<body>
    <h1>List of student data</h1>
    <div class="container">
        <h2>Student Record</h2>
        <ul id="students_deteils">
            <li><strong>ID:</strong> <span id="students-id" th:text="${students.id}"></span></li>
            <li><strong>Faculty Name:</strong> <span id="students-faculty_name" th:text="${students.faculty_name}"></span></li>
            <li><strong>Group Number:</strong>  <span id="students-Lgroup" th:text="${students.Lgroup}"></span></li>
            <li><strong>Faculty Number:</strong> <span id="students-faculty_number" th:text="${students.faculty_number}"></span></li>
            <li><strong>Grade in Discipline 1:</strong> <span id="students-grade_in_discipline_1" th:text="${students.grade_in_discipline1}"></span></li>
            <li><strong>Grade in Discipline 2:</strong> <span id="students-grade_in_discipline_2" th:text="${students.grade_in_discipline2}"></span></li>
            <li><strong>Grade in Discipline 3:</strong> <span id="students-grade_in_discipline_3" th:text="${students.grade_in_discipline3}"></span></li>
            <li><strong>Course:</strong>  <span id="students-Course" th:text="${students.Course}"></span></li>
            <li><strong>Gradebook Number:</strong>  <span id="students-gradebook_number" th:text="${students.gradebook_number}"></span></li>
            <li><strong>First Name:</strong> <span id="students-first_name" th:text="${students.first_name}"></span></li>
            <li><strong>Last Name:</strong> <span id="students-last_name" th:text="${students.last_name}"></span></li>
            <li><strong>Middle Name:</strong>  <span id="students-middle_name" th:text="${students.middle_name}"></span></li>
        </ul>
    </div>
</body>
</html>
