<html lang="uk">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
     <script src="/js/students_index_test.js"defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
</head>
<body>
    <div class="container">
        <h1>Student Discipline Information</h1>
        <p>This table contains information about students, their faculty, grades, and course details.</p>
        <table>
            <tr>
                <th>ID</th>
                <th>Faculty Name</th>
                <th>Group Number</th>
                <th>Faculty Number</th>
                <th>Grade</th>
                <th>Course</th>
                <th>Actions</th>
            </tr>
            <tbody id="table_discipline">
            <tr th:each="discipline : ${disciplineList}">
                <td th:text="${discipline.id}"></td>
                <td th:text="${discipline.faculty_name}"></td>
                <td th:text="${discipline.Lgroup}"></td>
                <td th:text="${discipline.faculty_number}"></td>
                <td th:text="${discipline.grade_in_discipline}"></td>
                <td th:text="${discipline.course}"></td>
                <td>
                    <button class="edit-btn">Edit</button>
                    <button class="save-btn" style="display: none;">Save</button>
                    <button class="delete-btn">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</body>
</html>
