<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
     <link rel="stylesheet" href="/css/style.css">
     <script src="/js/discipline_index_test.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discipline Form</title>
</head>
<body>
    <div class="container">
        <h1>Here you can see the table of disciplines</h1>
        <h2>Here is the table:</h2>
    </div>
    <div class="table-container">
        <h2>Submitted Records</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Faculty Name</th>
                <th>Group Number</th>
                <th>Faculty Number</th>
                <th>Grade</th>
                <th>Course</th>
                <a th:href="@{/discipline/form}">
                    <button>Form</button>
                </a>
                <a th:href="@{/students/index}">
                    <button>Перейти до Students</button>
                </a>
            </tr>
            <tbody id="table_discipline">
            <tr th:each="discipline: ${discipline}" th:attr="data-id=${discipline.id}">
                <td><span th:text="${discipline.id}"></span><input type="number" class="edit-input" style="display:none" th:value="${discipline.id}"></td>
                <td><span th:text="${discipline.faculty_name}"></span><input type="text" class="edit-input" style="display:none" th:value="${discipline.faculty_name}"></td>
                <td><span th:text="${discipline.lgroup}"></span><input type="number" class="edit-input" style="display:none" th:value="${discipline.lgroup}"></td>
                <td><span th:text="${discipline.faculty_number}"></span><input type="number" class="edit-input" style="display:none" th:value="${discipline.faculty_number}"></td>
                <td><span th:text="${discipline.grade_in_discipline}"></span><input type="number" class="edit-input" style="display:none" th:value="${discipline.grade_in_discipline}"></td>
                <td><span th:text="${discipline.course}"></span><input type="number" class="edit-input" style="display:none" th:value="${discipline.course}"></td>
                <td>
                    <button class="edit-btn">Edit</button>
                    <button class="delete-btn">Delete</button>
                    <a th:href="@{/discipline/shows/{id}(id=${discipline.id})}">
                        <button>Перейти до дисципліни</button>
                    </a>

                </td>
            </tr>
            </tbody>

        </table>
    </div>
</body>
</html>
