<html lang="en">
<head>
     <link rel="stylesheet" href="/css/style.css">
     <script src="/js/discipline_form_test.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discipline Form</title>
</head>
<body>
    <h1>Welcome!</h1>
    <h2>Please fill out the form below:</h2>
    <div class="container">
        <h1>Please Fill Out the Form</h1>
        <p>Providing accurate information about the discipline helps us maintain quality education records.</p>
        <form action="/discipline/submitDiscipline" method="post">
            <label for="facultyName">Faculty Name:</label>
            <input type="text" id="facultyName" name="facultyName" placeholder="Faculty Name" required>

            <label for="Lgroup">Group Number:</label>
            <input type="number" id="Lgroup" name="Lgroup" placeholder="Group Number" required>

            <label for="facultyNumber">Faculty Number:</label>
            <input type="number" id="facultyNumber" name="facultyNumber" placeholder="Faculty Number" required>

            <label for="gradeInDiscipline">Grade in Discipline:</label>
            <input type="number" step="0.1" id="gradeInDiscipline" name="gradeInDiscipline" placeholder="Grade in Discipline" required>

            <label for="course">Course:</label>
            <input type="number" id="course" name="course" placeholder="Course" required>

            <button id="submitBtn" type="submit">Submit</button>

        </form>
    </div>
</body>
</html>
