<html lang="en">
<head>
     <link rel="stylesheet" href="style.css">
     <script src="discipline_index_test.js"defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discipline Form</title>
</head>
<body>
    <div class="container">
        <h1>here you can see the table of disciplines</h1>
        <h2>Here is the table:</h2>
    
    <div class="table-container">
        <h2>Submitted Records</h2>
        <table>
            <tr>
                <th>Faculty Name</th>
                <th>Group Number</th>
                <th>Faculty Number</th>
                <th>Grade</th>
                <th>Course</th>
            </tr>
            <tr>
                <td>Engineering</td>
                <td>101</td>
                <td>12345</td>
                <td>85.5</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Computer sience</td>
                <td>103</td>
                <td>23456</td>
                <td>90.1</td>
                <td>2</td>

        </table>
    </div>
</body>
</html>
